		<section id="stats" class="callout">

			<div class="container">

				<div class="row">

					<div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft">
						<h3>My Stats</h3>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInDown">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-code hidden-xs"></i><span class="timer" data-source="stat_lines" data-to="{{stat.stat_lines}}"></span></h2>
							</div>
							<h3>Lines of code</h3>
						</div>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInUp">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-bitbucket hidden-xs"></i><span class="timer" data-source="stat_commits" data-to="{{stat.stat_commits}}"></span></h2>
							</div>
							<h3>Commits</h3>
						</div>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInRight">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-code-fork hidden-xs"></i><span class="timer" data-source="stat_pulls" data-to="{{stat.stat_pulls}}"></span></h2>
							</div>
							<h3>Pull requests</h3>
						</div>
					</div>
				</div><!-- .row -->
                <div class="row">

					<div class="col-sm-12 hidden-xs col-md-12">
						<h5>Last updated {{stat.stat_lastupdate_hr}} hrs {{stat.stat_lastupdate_min}} mins {{stat.stat_lastupdate_sec}} secs ago from bitbucket</h5>
					</div>
               </div>

			</div><!-- .container -->

		</section>